<a href="https://colab.research.google.com/github/nikolmash/news_category_detection/blob/master/data_preproc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Предобработка корпуса новостных статей**

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('lenta-ru-news.csv', engine='python', delimiter=',', error_bad_lines=False)

In [3]:
df.head()

                                               url  ...                  tags
0  https://lenta.ru/news/2015/06/26/khvorostovsky/  ...                Музыка
1            https://lenta.ru/news/2015/06/26/usa/  ...              Общество
2         https://lenta.ru/news/2015/06/26/greece/  ...              Политика
3           https://lenta.ru/news/2015/06/26/bomb/  ...  Полиция и спецслужбы
4      https://lenta.ru/news/2015/06/26/eyesocket/  ...                 Наука

[5 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143868 entries, 0 to 143867
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   url     143868 non-null  object
 1   title   143868 non-null  object
 2   text    143867 non-null  object
 3   topic   137705 non-null  object
 4   tags    133666 non-null  object
dtypes: object(5)
memory usage: 5.5+ MB

In [5]:
df.dropna(subset=['text', 'topic'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137704 entries, 0 to 143867
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   url     137704 non-null  object
 1   title   137704 non-null  object
 2   text    137704 non-null  object
 3   topic   137704 non-null  object
 4   tags    127528 non-null  object
dtypes: object(5)
memory usage: 6.3+ MB

In [6]:
df.groupby('topic').count()['text']

topic
69-я параллель         905
Бывший СССР          11088
Дом                   4335
Из жизни              4785
Интернет и СМИ        8676
Крым                   559
Культпросвет           289
Культура              8843
Легпром                111
Мир                  21249
Наука и техника       7611
Путешествия           5265
Россия               22918
Силовые структуры    12439
Спорт                13761
Ценности              6051
Экономика             8819
Name: text, dtype: int64

Можно заметить, что некоторые классы статей оказываются слишком маленького размера, поэтому мы не будем учитывать их при обучении.

In [7]:
df = df.query("topic not in ['69-я параллель', 'Крым', 'Культпросвет ', 'Легпром']")
df.groupby('topic').count()['text']

topic
Бывший СССР          11088
Дом                   4335
Из жизни              4785
Интернет и СМИ        8676
Культура              8843
Мир                  21249
Наука и техника       7611
Путешествия           5265
Россия               22918
Силовые структуры    12439
Спорт                13761
Ценности              6051
Экономика             8819
Name: text, dtype: int64

In [8]:
df.to_csv('lenta-ru-news.csv', sep=',', encoding='utf-8')